@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@500;600;700&display=swap');
.work__person{
    margin-top: 150px;
}
.work__person .card{
    border-radius: 10px;
    border: 2px solid #01384D;
    transition: all 0.2s linear;
}
.work__person .card:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.work__person .card-header{
    border-bottom: 2px solid #01384D;
}
.work__person .card-header h5{
    font-family: 'Kodchasan', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.work__person .card-header h5 span{
    color: #6c757d;
}
.work__person .card-header h5 .sub__span{
    font-size: 15px;
    color: #01384D;
}
.work__person .card-body{
    display: flex;
    align-items: center;
    justify-content: start;
}
.work__person .card-body h6{
    font-family: 'Kodchasan', sans-serif;
    font-size: 18px;
    color: #01384D;
    font-weight: 500;
}
.work__person .card-body h6 span{
    color: #01384D;
    margin-right: 10px;
    font-weight: 900;
}
.work__person .card-body .right, .left{
    flex: 0 0 50%;
    max-width: 50%;
}
.work__person .card-body a{
    background-color: #01384D;
    color: #ffffff;
    text-decoration: none;
    font-family: 'Kodchasan', sans-serif;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
    width: 40%;
    text-align: center;
    border:2px solid #01384D;
    transition: all 0.4s ease-in-out;
}
.work__person .card-body a i{
    margin-right: 10px;
}
.work__person .card-body a:hover{
    background-color: white;
    color: #01384D;
    transform: translateY(-5px);
}
.work__person .card-body .share{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #01384D;
    padding: 0;
    margin: 0!important;
    font-size: 15px;
}
.work__person .card-body .share i{
    margin-right: 0!important;
}
